
html{
    font-family: sans-serif;
}

body {
    margin: 0px;
    background-color:white;
}

/* navigatie */
nav {
    background-color: rgb(16, 64, 131);
    color: white;
    padding: 20px;
    font-size: 1em;
}

nav > div.container {
    display: flex;
    justify-content: space-between;
}

.right_actions {
    display: flex;
    align-items: center;
}

.right_actions a:link,
.right_actions a:visited,
.right_actions a:hover,
.right_actions a:active {
    color:white;
    text-decoration: none;
    margin-left: 50px;
}
/* einde navigatie */

/* registreren */

.input p
{
  font-size: 12px;
  color: rgb(143,15,12);
}
form
{
  position: absolute;
  left: 20%;
}

.input
{
  margin-top: 2em;
  font-size: 20px;
}

.input input
{
  width: 250px;
  height: 35px;
  font-size: 20px;
}

.submit
{
  width: 250px;
  height: 35px;
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.error_signin
{
  width: 250px;
  padding: 15px;
  background-color: rgba(255,59,10,0.5);
  color: rgb(143,15,12);
}




/* form */
.formitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aqua;
}

.edit_profile {
    text-align: center;
}

.edit_profile label {
    font-size: 20px;
    color: #DA4741;
}

.edit_profile #profileImg {
    padding: 0px;
    background-color: transparent;
    color: #DA4741;
}

.edit_profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* einde form */

/* Begin Posts*/
.post{
    display: inline-block;
    text-align: center;

    width: 400px;
    height: auto;
    background-color:lightgray;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}

.description{
    background-color: white;
    padding:0.5em;
    border-radius: 5px;
    text-align: left;
}
/* Einde Posts*/

.show-posts{
    margin: auto;
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(16, 64, 131);
    color: white;
    font-weight: bold;
    padding: 10px;
}

/* Edit profile feature 3 */
.IMDLogin{
    text-align: center;
}

.btn {
    font-family: sans-serif;
    margin-top: 15px;
    background-color: #1db954;
    text-transform: uppercase;
    width: 250px;
    height: 45px;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 30px;
}

.edit_profile {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.edit_profile input {
    width: 380px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}

p {
    padding-bottom: 30px;
    text-align: center;
    padding-top: 30px;
    color: red;
    font-size: 0.9em;
    background-color: aliceblue;
    margin-bottom: 30px;
}

h2 {
    margin: 20px;
    font-family: sans-serif;
    color: #222342;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-family: sans-serif;
    color: #222342;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #d9dadc;
}
/* einde edit profile feature 3 */

.post {
	width: 30%;
	margin: 10px auto;
	border: 1px solid #cbcbcb;
	padding: 5px 10px 0px 10px;
}
.like, .unlike, .likes_count {
	color: blue;
}
.hide {
	display: none;
}
.fa-thumbs-up, .fa-thumbs-o-up {
	transform: rotateY(-180deg);
	font-size: 1.3em;
}

/* search results */

.search_results{
  position: absolute;
  top: 20%;
  left: 5%;
  width: 100%;

}

.search_results h1
{
  font-size: 20px;
  margin-bottom: 50px;
}
